# Exclude development and source files from the package
.vscode/**
.vscode-test/**
out/test/**
src/**
node_modules/**

# Exclude build and configuration files
**/*.map
**/*.ts
.gitignore
tsconfig.json